body {
    margin: 0;

}

ul {
    text-decoration-style: none;
    list-style-type: none;
    display: flex;
}

a {
    list-style: none;
    text-decoration: none;
}


/* ///////////////////////////////// */



.nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin: 0px;
    height: 55px;
    padding: 0;
    z-index: 1000;
    width: 100%;

}

.nav-bar .list {
    margin-right: 350px;
}

.nav-bar .list li {
    padding: 30px 15px;
    text-transform: capitalize;
    font-size: 20px;

}

.nav-bar .list li a {
    color: #898999;
    transition: all 1.1s;
}

.nav-bar .logo {
    color: #212529;
    text-transform: capitalize;
    font-size: 23px;
}

.nav-bar Span {
    color: red;
}

.nav-bar .list li a:hover {
    text-decoration: underline red;
    color: black;
    font-size: 23px;
}


/* ///////////////////////// */


.container-home {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 50px 0;
    position: relative;
}

.home-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;

}

.home-links span {
    color: red;
    width: 50px;
    margin-left: 100px;
    font-weight: 600;
}

.home-links button {
    background-color: red;
    border: 3px solid transparent;
    color: #ffffff;
}

.home-links .btn1 {
    padding: 0.625rem 1.5625rem;
    border-radius: 0px 100vh 100vh;
}

.home-links button a {
    color: #ffffff;
}

.home-tittle h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    color: rgb(55, 55, 63);
    font-size: 50px;
    text-transform: uppercase;
}

.home-tittle p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(79, 79, 90);
    line-height: 26px;
    width: 500px;
}

.home-img img {
    margin-top: 50PX;
}

.home-img img:hover {
    animation: animation 0.9s linear infinite;
}

@keyframes animation {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media(max-width:786px) {
    .container-home {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:576px) {
    .container-home {
        display: flex;
        flex-direction: column;
    }
}


.home-links i {
    font-size: 35px;
    padding: 0 3px 0 31px;
    z-index: 5;
    display: flex;
    position: relative;
}



.home-links i::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    top: -32px;
    border: 10px solid rgb(244, 8, 8);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-132deg);
}

.home-links i::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 37px;
    width: 36px;
    background-color: #ffffff;
    border-radius: 70%;
    display: inline-block;
    left: 62px;
    z-index: 1;
}


/* /////////////////////////////////////// */

.container-chefs {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    
}

.chefs-tittle {
    margin-top: 50px;
}

.chefs-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.container-chefs .chef-first-slide {
    width: 30%;
    position: relative;
    overflow: hidden;
    transition: all 2s;
}

.container-chefs .chef-first-slide img {
    width: 100%;
}

.container-chefs .chef-second-slide {
    width: 30%;
    position: relative;
    overflow: hidden;
    transition: all 2s;
}

.container-chefs .chef-second-slide img {
    width: 100%;
}

.container-chefs .chef-third-slide {
    width: 30%;
    position: relative;
    overflow: hidden;
    transition: all 2s;
}

.container-chefs .chef-third-slide img {
    width: 100%;
}

.container-chefs h4,
p {
    color: #7f7f90;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Source Sans 3", sans-serif;
margin-top: 100px;
}

.container-chefs h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 0;
}

.container-chefs h4 {
    font-size: 23px;
    margin-top: 0;
}

.container-chefs h3 {
    font-size: 1.30em;
    margin: 18px;
    margin-top: -68px;
}

.container-chefs p {
    width: 400px;
    margin: 14px;
}

.chefs-tittle span {
    color: #ce1212;
}

.chef-first-slide .inner {
    width: 48px;
    height: 135px;
    margin-top: 68px;
    background-color: rgba(231, 224, 224, 0.825);
    position: absolute;
    left: 462px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all 2s 0.5s;
}

.chefs-slides i {
    transition: all 1s 3s;
    padding: 8px;
}

.chef-first-slide:hover .inner {
    left: 400px;
}

.chef-first-slide:hover {
    transform: scale(1.09);
}

.chef-second-slide .inner {
    width: 48px;
    height: 135px;
    margin-top: 68px;
    background-color: rgba(231, 224, 224, 0.825);
    position: absolute;
    left: 462px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all 2s 0.5s;
}

.inner i {
    transition: all 1s 3s;
    padding: 8px;
}

.chef-second-slide:hover .inner {
    left: 400px;
}

.chef-second-slide:hover {
    transform: scale(1.09);
}

.chef-third-slide .inner {
    width: 48px;
    height: 135px;
    margin-top: 68px;
    background-color: rgba(231, 224, 224, 0.825);
    position: absolute;
    left: 462px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all 2s 0.5s;
}

.chefs-slides .inner i {
    transition: all 1s 3s;
    padding: 8px;
}

.chef-third-slide:hover .inner {
    left: 400px;
}

.chef-third-slide:hover {
    transform: scale(1.09);
}

@media(max-width:786px) {
    .chefs-slides {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:576px) {
    .chefs-slides {
        display: flex;
        flex-direction: column;
    }
}


.chefs-slides .chef-first-slide .img {
    position: relative;
}

.wave {
    display: flex;
    position: relative;
    margin-top: 10px;
    top: -70px;
}

@media(max-width:576px) {

    .wave,
    p {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
}

@media(max-width:768px) {

    .wave,
    p {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
}

@media(max-width:992px) {

    .wave,
    p {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
}


/* ///////////////////////////// */
.container-glary {
    background-color: #eeeeee;
}

.glary-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.first-row {
    position: relative;
    width: 32.33%;
    margin-top: -107px;
    margin-left: -28px;
    padding: 0 11px;
    /* overflow: hidden; */
}

.first-row img {
    width: 80%;
    margin-left: 100px;
    padding: 4px 0;
    transition: all 2s;
}

.second-row {
    margin-top: 86px;
    width: 32.33%;

}

.second-row img {
    width: 80%;
    height: 488px;
    margin-left: 2px;
    margin-top: -70px;
    padding: 41px 0;
}

.third-row {
    width: 32.33%;
    margin-left: -84px;
    margin-top: -185px;
}

.third-row img {
    width: 95%;
    padding: 4px 0;
}

.glary .glary-title {
    text-align: center;
    text-transform: capitalize;

}

.glary .glary-title span {
    color: #ce1212;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 0px;
}

.glary .glary-title h4 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top:50px;
    margin-bottom: 0px;

}

.glary .glary-title h3 {
    margin-top: 8px;
    color: #7f7f90;
    font-size: 16px;
}

/* //////////////////////////////// */
/* .inner-one {
    width: 394px;
    height: 591px;
    background-color: rgb(137, 137, 153, 0.5);
    position: absolute;
    top: 274px;
    left: 110px;
 
}

.inner-two {
    width: 393px;
    height: 262px;
    background-color: rgb(137, 137, 153, 0.5);
    position: absolute;
    left: 611px;
    top: 4px;
    transition: all 1ss 1s;

}
 img:hover .inner-two {
    opacity: 1;
    left: 111px;
    top: 4px;

}

img .first-one:hover .inner-one {
    opacity: 1;
    top: 274px;
    left: 110px;
} */


/* //////////////////////////////// */




.container-contact {
    margin-top: 80px;
    text-align: center;
}

.contact h3 {
    color: #7f7f90;
    font-size: 30px;
    text-transform: capitalize;
}

.contact h4 {
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    margin: 0px;
}

.contact span {
    color: #ce1212;
    text-transform: capitalize;
    font-family: "Amatic SC", sans-serif;
}

.contact-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-items-one {
    text-align: left;
    margin-top: 20px;
}

.contact-items-two {
    text-align: left;
    margin-top: 20px;
}

.contact-items h3 {
    text-transform: capitalize;
    font-size: 20px;
    color: #7f7f90;
    padding: 40px 0 0 0;
}

.Address {
    background-color: #f5f5f5;
}

.call {
    background-color: #f5f5f5;
}

.email {
    background-color: #f5f5f5;
}

.Hours {
    background-color: #f5f5f5;
}

.contact-items-one i,
.contact-items-two i {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -43px;
    margin-bottom: -100px;
}

.container-contact {
    background-color: #eeeeee;

}

.container-input-contact {
    background-color: #eeeeee;
    padding: 50px;
}

.cuntact-us {
    margin-top: 50px;
}

.first-contact {
    display: inline-block;
    width: 800px;
    height: 10px;
    margin: 20px 0;
    margin-bottom: 50px;
    margin-left: 408px;
}

.first-contact input {
    font-size: 18px;
    text-transform: uppercase;
    width: 360px;
    height: 50px;
    font-family: sans-serif;
}

.sacond-contact input {
    width: 725px;
    height: 50px;
    margin: 16px;
    margin-left: 408px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.sacond-contact label {
    margin-left: 353px;
}

.third-contact textarea {
    width: 725px;
    height: 50px;
    margin: 16px;
    margin-left: 409px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.bord-cuntact-us {
    /* background-color: red; */
    text-align: center;
    position: relative;
    font-family: sans-serif;
}

.bord-cuntact-us .bord-line {
    background-color: transparent;
}



.bord-line {
    border: 2px solid transparent;
    top: 20px;
}



.bord-cuntact-us h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #333333;
}