@media (min-width:576px){
   .sm-100{width: 100%;}
   .sm-80{width: 80%;}
   .sm-70{width: 70%;}
   .sm-50{width: 50%;}
   .sm-33{width: 33.33%;} 
   .sm-25{width: 25%;}
   .sm-16{width: 16.66%;}
}
   @media (min-width:768x){
    .md-100{width: 100%;}
    .md-80{width: 80%;}
    .md-70{width: 70%;}
    .md-50{width: 50%;}
    .md-33{width: 33.33%;} 
    .md-25{width: 25%;}
    .md-16{width: 16.66%;}
}
@media (min-width:992px){
    .lg-100{width: 100%;}
    .lg-80{width: 80%;}
    .lg-70{width: 70%;}
    .lg-50{width: 50%;}
    .lg-33{width: 33.33%;} 
    .lg-25{width: 25%;}
    .lg-16{width: 16.66%;}
}
@media (min-width:1200px){
    .xl-100{width: 100%;}
    .xl-80{width: 80%;}
    .xl-70{width: 70%;}
    .xl-50{width: 50%;}
    .xl-33{width: 33.33%;} 
    .xl-25{width: 25%;}
    .xl-16{width: 16.66%;}
}